.invisible {
  display: none; }

#root {
  text-align: center; }

.game {
  padding-top: 100px; }

.game-board {
  display: inline-block;
  border: 1px solid black; }

.square {
  width: 75px;
  height: 75px; }
  .square.black {
    background: #6f6f6f; }
  .square.white {
    background: #fff; }
  .square:hover {
    background: #8e6161; }

.board-row {
  display: flex; }

.square {
  position: relative; }

.piece-svg {
  width: 50px;
  height: 50px; }

.poss-move {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #dca593;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 31px;
  left: 33px; }
  .poss-move.invisible {
    display: none; }

.piece-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 12px; }
