.invisible {
  display: none;
}

#root {
  text-align: center;
}

.game {
  display: flex;
  padding: 50px;
}

.game-board {
  display: inline-block;
  border: 1px solid black;
  margin: 0 auto;
}

.square {
  width: 75px;
  height: 75px;

  &.black {
    background: #6f6f6f;
  }

  &.white {
    background: #fff;
  }

  &:hover {
      background: #dca593;
  }
}

.board-row {
  display: flex;
}

.square {
  position: relative;
}

.piece-svg {
  width: 50px;
  height: 50px;
}

.poss-move {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #dca593;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 31px;
  left: 33px;

  &.invisible {
    display: none;
  }
}

.piece-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.game-info {
  border: 1px solid black;
}

.game-info-header {
  border-bottom: 1px solid black;
}
